body {
  padding: 10px;
  font-family: sans-serif;
}

.ui.icon.input>i.icon {
  top:-10px !important;
}

.mainPageCard {
  font-family: "Noto Serif", serif !important;
  color: black !important;
}

#searchBar {
  border-radius: 50px;
  margin-bottom: 1.5em;
}

#typingContent {
  font-size: 30px;
  font-family: "Damion", cursive;;
}

.exam {
  margin: auto;
  margin-top: 5px;
  width: 70%;
  padding: 10px;
  border: 1px solid #eee;
}

.gameStatus {
  text-align: center;
}

.glossary {
  font-family: "Noto Serif", serif;
  font-size: 19px;
  text-align: left;
}

.glossaryCol {
  text-align: right !important;
  font-weight: bold !important;
}
.savedTimes {
  font-weight: normal;
  color: rgba(0,0,0,0.4);
  font-size: 16px;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: /*#eefbfe*/#42d9f4;
}

/* Hide the browser's default radio button */
.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 20px;
  line-height: 1.5;
}

.radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}
 
/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Serif", serif;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 18px;
  font-family: "Noto Serif", serif;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  font-family: "Noto Serif", serif;
  font-weight: bold;
}

/*Effect for definition of the searching word*/
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*Effect for log in*/
/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.hvr-icon-pulse:hover .hvr-icon, .hvr-icon-pulse:focus .hvr-icon, .hvr-icon-pulse:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pulse;
  animation-name: hvr-icon-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}




